In [4]:
# Creating a list object
my_list = [1, 2, 'hello', True]

print(my_list)

print(my_list[3])

print(type(my_list))

print(type(my_list[3]))

[1, 2, 'hello', True]
True
<class 'list'>
<class 'bool'>

In [8]:
var1 = 101
var2 = 99
var3 = 97
var4 = 95

another_list = [var1, var2, var3, var4]
print(another_list)

[101, 99, 97, 95]

In [5]:
#List Operations

# Creating a list
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

# Append operation
my_list.append(6)
print("After Append(6):", my_list)

# Insert operation
my_list.insert(2, 10)
print("After Insert(2, 10):", my_list)

# Remove operation
my_list.remove(3)
print("After Remove(3):", my_list)

# Pop operation
popped_element = my_list.pop(4)
print("Popped Element:", popped_element)
print("After Pop(4):", my_list)

# Length operation
list_length = len(my_list)
print("Length of List:", list_length)

Original List: [1, 2, 3, 4, 5]
After Append(6): [1, 2, 3, 4, 5, 6]
After Insert(2, 10): [1, 2, 10, 3, 4, 5, 6]
After Remove(3): [1, 2, 10, 4, 5, 6]
Popped Element: 5
After Pop(4): [1, 2, 10, 4, 6]
Length of List: 5

In [95]:
#How to create a list

my_empty_list = [] # declare an empty list

for i in range(10,20):
    my_empty_list.append(i)

print("Now my list contains: ", my_empty_list)

print("Length of my list is:", len(my_empty_list))

for index in range(len(my_empty_list)):
    print(index, "-->", my_empty_list[index])

Now my list contains:  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Length of my list is: 10
0 --> 10
1 --> 11
2 --> 12
3 --> 13
4 --> 14
5 --> 15
6 --> 16
7 --> 17
8 --> 18
9 --> 19

In [114]:
#Concatenation 

first_list = [1, 2, 3, 4]

second_list = ['a', 'b']

third_list = first_list + second_list

print(third_list)

[1, 2, 3, 4, 'a', 'b']

In [74]:
#List Slicing

my_list = [1, 2, 'hello', True, 4, 5, 8, 0, 'a']

print(my_list[1:3]) #end_index is excluded

print(my_list[:])

print(my_list[5:])

print(my_list[:4])

print(my_list[1:8:2])

[2, 'hello']
[1, 2, 'hello', True, 4, 5, 8, 0, 'a']
[5, 8, 0, 'a']
[1, 2, 'hello', True]
[2, True, 5, 0]

In [91]:
my_list = [1, 2, 'hello', True, 4, 5, 8, 0, 'a']

print(my_list[-1 : -len(my_list) : -1])

print("\n")
print(my_list[-3 : -len(my_list) : -1])

['a', 0, 8, 5, 4, True, 'hello', 2]


[8, 5, 4, True, 'hello', 2]

In [14]:
# common methods use with list

# Creating a list
my_list = [4, 2, 1, 3, 2, 4, 3]
print("Original List:", my_list)

# sort() method - Sort the elements of the list in ascending order
my_list.sort()
print("After Sorting:", my_list)

# reverse() method - Reverse the order of elements in the list
my_list.reverse()
print("After Reversing:", my_list)

# count() method - Count the occurrences of a specified value
count_2 = my_list.count(2)
print("Count of 2:", count_2)

# index() method - Return the index of the first occurrence of a value
index_3 = my_list.index(3)
print("Index of 3:", index_3)

Original List: [4, 2, 1, 3, 2, 4, 3]
After Sorting: [1, 2, 2, 3, 3, 4, 4]
After Reversing: [4, 4, 3, 3, 2, 2, 1]
Count of 2: 2
Index of 3: 2

In [21]:
'''
Create a list with 10 random numbers. 
Print smallest number of the list. Print the 
index of smallest number.
'''

# Create a list with 10 random numbers
random_numbers = [6,5,3,4,8,1,9,2,12,11]
print("Random Numbers List:", random_numbers)

# sort the list
random_numbers.sort()
print("Sorted list --> ", random_numbers)


print("Smallest Number:",random_numbers[0])

small_number_index = random_numbers.index(random_numbers[0])

print("Index of Smallest Number:", small_number_index)

Random Numbers List: [6, 5, 3, 4, 8, 1, 9, 2, 12, 11]
Sorted list -->  [1, 2, 3, 4, 5, 6, 8, 9, 11, 12]
Smallest Number: 1
Index of Smallest Number: 0

In [22]:
# Find the smallest number in the list
smallest_number = min(random_numbers)
print("Smallest Number:", smallest_number)

# Find the index of the smallest number
smallest_index = random_numbers.index(smallest_number)
print("Index of Smallest Number:", smallest_index)

Smallest Number: 1
Index of Smallest Number: 0

In [24]:
# Find the Biggest number in the list
Biggest_number = max(random_numbers)
print("Biggest Number:", Biggest_number)

# Find the index of the smallest number
smallest_index = random_numbers.index(Biggest_number)
print("Index of Biggest Number:", smallest_index)
print("Size of list",len(random_numbers))

Biggest Number: 12
Index of Biggest Number: 9
Size of list 10

In [2]:
my_list = [1, 2, 'hello', True]

print(my_list)

print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

[1, 2, 'hello', True]
1
2
hello
True

In [3]:
for i in my_list:
    print(i)

1
2
hello
True

In [4]:
# Predefined grades for 5 subjects
grade1 = 85
grade2 = 90
grade3 = 75
grade4 = 80
grade5 = 95
number_of_subjects = 5
# Calculate average
average = (grade1 + grade2 + grade3 + grade4 + grade5) / number_of_subjects

# Print average
print("Average grade:", average)

Average grade: 85.0

In [11]:
grades = [85, 90, 75, 80, 95]

total_grade = 0
for g in grades:
    total_grade = total_grade + g

# Print average
print("Average grade:", total_grade/len(grades))

Average grade: 85.0

In [106]:
grades = [
    [85, 90, 75, 80, 95],  # Grades for student 1
    [70, 85, 90, 65, 75],  # Grades for student 2
    [90, 95, 85, 80, 85]   # Grades for student 3
]

print("Student: 1, Subject: 1  -->", grades[0][0])
print("Student: 1, Subject: 2  -->", grades[0][1])
print("Student: 1, Subject: 3  -->", grades[0][2])

print("----------------------------")

print("Student: 3, Subject: 1  -->", grades[2][0])
print("Student: 3, Subject: 2  -->", grades[2][1])

print("\n-----------All studendes details----------\n")

for line in grades:
    print(line)
    # print("------------")
    # for element in line:
    #      print(element)

Student: 1, Subject: 1  --> 85
Student: 1, Subject: 2  --> 90
Student: 1, Subject: 3  --> 75
----------------------------
Student: 3, Subject: 1  --> 90
Student: 3, Subject: 2  --> 95

-----------All studendes details----------

[85, 90, 75, 80, 95]
[70, 85, 90, 65, 75]
[90, 95, 85, 80, 85]

In [110]:
grades = [
    [85, 90, 75, 80, 95],  # Grades for student 1
    [70, 85, 90, 65, 75],  # Grades for student 2
    [90, 95, 85, 80, 85]   # Grades for student 3
]

for student in grades:
    print(student)
    print("------------")
    for subjects in student:
         print(subjects)

    print("\n")

[85, 90, 75, 80, 95]
------------
85
90
75
80
95


[70, 85, 90, 65, 75]
------------
70
85
90
65
75


[90, 95, 85, 80, 85]
------------
90
95
85
80
85

In [18]:
#use of enumerate function

my_list = ['apple', 'banana', 'cherry']

for index, value in enumerate(my_list):
    print(index, value)

0 apple
1 banana
2 cherry

In [19]:
grades = [
    [85, 90, 75, 80, 95],  # Grades for student 1
    [70, 85, 90, 65, 75],  # Grades for student 2
    [90, 95, 85, 80, 85]   # Grades for student 3
]


print("Printing the grades of each student")

for s_index, s_grades in enumerate(grades):
    print("Student ", s_index+1, "has obtained: ", s_grades)

Printing the grades of each student
Student  1 has obtained:  [85, 90, 75, 80, 95]
Student  2 has obtained:  [70, 85, 90, 65, 75]
Student  3 has obtained:  [90, 95, 85, 80, 85]

In [26]:
grades = [
    [85, 90, 75, 80, 95],  # Grades for student 1
    [70, 85, 90, 65, 75],  # Grades for student 2
    [90, 95, 85, 80, 85]   # Grades for student 3
]

for s_index, s_grades in enumerate(grades):

    print("\nStudent ", s_index+1, "Details:")
    
    # total_grade =0
    # for i_grade in s_grades:
    #     total_grade = total_grade + i_grade

    # avg_grade = total_grade/len(s_grades)
    
    avg_grade = sum(s_grades)/len(s_grades)
    
    print("He/She Grades: ", s_grades)
    print("His/Her Avg. Grades", avg_grade)

Student  1 Details:
He/She Grades:  [85, 90, 75, 80, 95]
His/Her Avg. Grades 85.0

Student  2 Details:
He/She Grades:  [70, 85, 90, 65, 75]
His/Her Avg. Grades 77.0

Student  3 Details:
He/She Grades:  [90, 95, 85, 80, 85]
His/Her Avg. Grades 87.0

In [60]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped = zip(list1, list2)

for item in zipped:
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [59]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped = zip(list1, list2)

for num, lett in zipped:
    print(num)
    print(lett)
    print("------")

1
a
------
2
b
------
3
c
------

In [61]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped = zip(list1, list2)

for item in zipped:
    print(item)

print("Printing Again")

for item in zipped:
    print(item)

print("Done")

(1, 'a')
(2, 'b')
(3, 'c')
Printing Again
Done

In [115]:
#-------------------Introduction to Function---------------------

# Calculate the average of a list of numbers
numbers = [85, 90, 75, 80, 95]

# Sum all numbers
total = 0
for num in numbers:
    total += num

# Calculate average
average = total / len(numbers)

print("Average:", average)

Average: 85.0

In [116]:
# Define a function to calculate average
def calculate_average(numbers):
    total = sum(numbers)
    return total / len(numbers)
    

# Calculate average of the first list
list1 = [85, 90, 75, 80, 95]
average1 = calculate_average(list1)
print("Average of list 1:", average1)


# Calculate average of the second list
list2 = [70, 85, 90, 65, 75]
average2 = calculate_average(list2)
print("Average of list 2:", average2)

Average of list 1: 85.0
Average of list 2: 77.0

In [118]:
def add(a, b):
    """Add two numbers."""
    return a + b

result = add(3, 5)
print (result)

8

In [120]:
def divide(a, b):
    """Divide two numbers."""
    if b == 0:
        return "Error: Division by zero!"
    else:
        return a / b

print(divide(3,5))
print(divide(3,0))

0.6
Error: Division by zero!

In [122]:
def divide(a, b):
    
    if b == 0:
        return "Error: Division by zero!"
    else:
        return a / b

    print("A Function stop excecuting after 'returning' a value ")

print(divide(3,5))
print(divide(3,0))

0.6
Error: Division by zero!

In [141]:
#scope and lifetime of a variable
def multiply (a, b):
    
    print("Variable1: ", var1)
    
    local_result = a*b

    if (result%2 != 0):
        return result
    else:
        print("Result is an even number")
        return None # by default a function returns 'None' 


var1 = 6 #global variable

product = multiply(2, 10)

print("Product is: ", product)

print("Result: ", local_result)

Variable1:  6
Result is an even number
Product is:  None

NameError: name 'local_result' is not defined

In [139]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [143]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)  

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

In [145]:
#Function inside a function

def grading(g1, g2):
    
    total = add_grades(g1, g2)
    average = total/2

    if average >= 50:
        return 'A'
    else:
        return 'F'
        

def add_grades(m1, m2):
    return m1+m2

stud1 = grading(100,45)

print(stud1)

A

In [148]:
# Examples of  lambda functions
add = lambda x, y: x + y
print(add(3, 5))  # Output: 8


x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

8
13

In [149]:
#recursion

def factorial(n):
    if n == 0:            # Base case
        return 1
    else:                 # Recursive case
        return n * factorial(n - 1)

print(factorial(5))

120